<div class="homeTemplate" ng-app="app">

  <div class="landing">
    <p>
      Adventure isn’t hanging on a rope off the side of a mountain<br>
      Adventure is an attitude that we must apply to the day to day obstacles of life<br>
      -John Amatt
    </p>

    <div class="downButton">
      <i class="fa fa-angle-double-down fa-3x bounce" ng-click="vm.scrollDown()"></i>
    </div>
  </div>

  <a id="bottom"></a>

  <div class="about">
    <h1>Explore Life</h1>
    <p>I'm Kevin, a <span>front end web developer</span>, constantly looking for something new to explore.  When in front of a computer, I enjoy creating simple and functional web applications with HTML, CSS, and JS.  JavaScript is a living language that is in a constant state of evolution - the explorations are endless!</p>

    <p class="non-code">While away from my computer, you can find me exploring the rivers and mountains of the southeast, playing a game of ultimate frisbee, or being snobby about a craft beer that you have never heard of.</p>
  </div>



  <div class="row homeRow">
    <div class="col-sm-4">
      <a href="#/skills"><div class="image-wrapper overlay-fade-in">
      <p class="title">Tools</p>
      <img ng-src="../images/html-css-js-logos.png" />
      <div class="image-overlay-content">
        <a href="#/skills">Show Current Toolkit</a>
      </div>
      </div></a>
    </div>
    <div class="col-sm-4">
      <a href="#/projects"><div class="image-wrapper overlay-fade-in">
        <p class="title">Current Projects</p>
        <img class="currentProjects" src="../images/projectThumbs.png" />
        <div class="image-overlay-content">
          <a class="projectLink" href="#/projects">Show Current Projects</a>
        </div>
      </div></a>
    </div>
    <div class="col-sm-4">
      <a href="#/resume"><div class="image-wrapper overlay-fade-in">
        <p class="title">Resume</p>
        <img class ="showResume"src="../images/fakeResume2.png" />
        <div class="image-overlay-content">
          <a href="#/resume">Show Current Resume</a>
        </div>
      </div></a>
    </div>
  </div>
   
  <div class="upButton">
    <i class="fa fa-angle-double-up fa-3x bounce" ng-click="vm.scrollUp()"></i>
  </div>





  <div class="footer">
    <div class="footerLeft">
      <p> KevinMooney </p>
    </div>
    <div class="contact">
      <ul>
        <li><a href="https://github.com/kmooney517"><i class="fa fa-github-square fa-lg"></i></i></a></li>
        <li><a href="mailto:kmooney517@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a></li>
        <li><a href="https://twitter.com/kmooney0517"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://www.linkedin.com/in/kmooney517"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
      </ul>
    </div>
  </div>









</div>
