<div class="skillsTemplate">

  <div class="row circles">
    <div class="col-sm-3 circle libraries">
      <img ng-src="../images/grouped/libraries.png">
      <p>Javascript<br> Libraries</p>
      <p>I am a big fan of the jQuery motto of "write less, do more".  jQuery and Underscore help me complete common JavaScript tasks with much greater efficiency.</p>
    </div>

    <div class="circle frameworks col-sm-3">
      <img ng-src="../images/grouped/frameworks.png">
      <p>Javascript<br> Frameworks</p>
      <p>I have experience with the Angular and Backbone + React frameworks - But prefer using AngularJS. Additionally, I have recently started the dive into mobile apps with Ionic.</p>
    </div>

    <div class="circle styling col-sm-3">
      <img ng-src="../images/grouped/styling.png">
      <p>Styling<br> Tools</p>
      <p>I prefer working with Foundation for big projects. Working on any styling sans-SASS (or LESS) just doesn't make sense. I am also familar with Bootstrap and Bourbon/Neat.</p>
    </div>

    <div class="circle misc col-sm-3">
      <img ng-src="../images/grouped/misc.png">
      <p>Miscellaneous<br> Tools</p>
      <p>SublimeText for text editing. Slack for communicating. Gulp/NPM for building. Trello for organizing. Git + GitHub for open sourcing.</p>
    </div>
  </div>

  <div class="backHome">
    <a href="/"><i class="fa fa-long-arrow-left"></i></a>
  </div>

</div>